yaozi-demo/src/main/resources/META-INF/Spring-user.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.yaozi.com/schema/user"
		xmlns:tns="http://www.yaozi.com/schema/user"
		elementFormDefault="qualified">
	<element name="user">
		<complexType>
			<attribute name="id" type="string"/>
			<attribute name="userId" type="string"/>
			<attribute name="userName" type="string"/>
		</complexType>
	</element>
</schema>